@import "../custom.scss";

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1{
    font-family: "Michroma", sans-serif;
  }

  p{
    font-family: "Google Sans Code", monospace;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  background: linear-gradient(135deg, $primary, darken($primary, 20%));
  color: $light;

  .hero-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      -45deg,
      rgba(180, 32, 156, 0.55),
      // rosa/violeta
      rgba(96, 40, 250, 0.55),
      // verde neon
      rgba(46, 243, 243, 0.55),
      // ciano
      rgba(76, 110, 245, 0.55),
      // azul
      rgba(5, 80, 64, 0.55) // dourado
    );
    background-size: 600% 600%;
    animation: gradientBG 60s ease-in-out infinite;
    z-index: 2;
  }
}

@keyframes gradientBG {
  0%   { background-position: 0% 50%; }
  25%  { background-position: 50% 100%; }
  50%  { background-position: 100% 50%; }
  75%  { background-position: 50% 0%; }
  100% { background-position: 0% 50%; }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("../../assets/stars.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("../../assets/fog.png") repeat top
    center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("../../assets/cloud.png") repeat top
    center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
