@import "../custom.scss";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  color: $light;
  z-index: 100;

  .logoLabel {
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 2px;
    color: white;
    text-transform: none;
  }

  .menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .menu {
    display: flex;
    font-family: "Michroma", sans-serif;
    font-size: 15px;

    a {
      cursor: pointer;
      position: relative;
      color: white;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 1px;
      transition: color 0.3 ease;

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 0%;
        height: 2px;
        background: $secondary;
        box-shadow: 0 0 8px $secondary;
        transition: width 0.3s ease-in-out;
      }

      &:hover {
        color: $secondary;

        &::after {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 2560px) {
  .menu {
    gap: 40px;
  }
}

@media (max-width: 760px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px 0;
  }

  .logo {
    padding-bottom: 10px;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
